<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Events</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-sm-12" ng-show="events.length <= 0">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1 text-center">
                <p>

                <h3>You don't have any favorite events. Add some through <a href="/#/events">Events</a> page.
                </h3></p>
            </div>
        </div>
    </div>
    <div ng-show="events.length > 0">
        <div class="row col-sm-12 text-center">
            <h3>Your Favorite Events</h3>
        </div>
        <div class="column col-sm-11 padding-30">
            <div class="table-responsive">
                <table class="table table-striped " >
                    <tbody >
                    <tr ng-repeat="event in events" id="{{event.eventId}}" class="eventRow">
                        <td>
                            <div class=" col-sm-10">
                                <img src="{{event.imageUrl}}" class="img">
                            </div>
                        </td>

                        <td>
                            <div class=" col-sm-10">
                                <div class="row col-sm-10">
                                    <h3>{{event.eventName}}</h3>
                                    <a href="{{event.eventUrl}}" tooltip-placement="bottom" tooltip="Check Event"
                                       target="_blank">
                                        <span style="color:darkorange;" class="glyphicon glyphicon-link"></span>
                                    </a>
                                    &nbsp;
                                    <a href="" tooltip-placement="bottom" tooltip="Show Description."
                                       data-toggle="collapse"
                                       data-target="#{{$index + 1}}det">
                                        <span style="color:orangered;" class="glyphicon glyphicon-zoom-in"></span>
                                    </a>
                                    <a href="" tooltip-placement="bottom" tooltip="Remove from favorites."
                                       ng-click="removeEventFromFavorites(event)">
                                        <span style="color:red;" class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    &nbsp;
                                    <a href="" tooltip-placement="bottom" tooltip="Mail Event."
                                       ng-show="currentUser" ng-click="mailEvent(event)">
                                            <span style="color:forestgreen;"
                                                  class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row col-sm-10">
                                <div class="col-sm-10">
                                    <div id="{{$index + 1}}det" class="collapse">
                                        {{event.description}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-4 control-label">Start Time</label>
                                    {{event.startDate}}
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-4 control-label">End Time</label>
                                    {{event.endDate}}
                                </div>
                            </div>
                            <div class="row col-sm-7">
                                <div class="col-sm-12">
                                    <span style="font-weight: bolder;">{{event.venueName}}
                                    {{event.venueAddress}}</span>
                                </div>
                            </div>
                            <div class="row col-sm-7">
                                <div class="col-sm-12">
                                    <span style="font-weight: bolder;">{{event.venueCity}},
                                    {{event.venueRegion}} -
                                    {{event.venuePostalCode}},
                                    {{event.venueCountry}}</span>
                                </div>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
