.menuheight {
	height: 70px;
}

.padding-tab-content{
	padding-top:20px;
}

.padding-20{
	padding-top:20px;
}

.padding-30{
    padding-top:30px;
}

.padding-25{
    padding-top:25px;
}

.padding-10{
    padding-top:10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.img-poster{
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 5%;
}

/*tr {
    width: 100%;
    display: inline-table;
}*/

table{
    height:325px;
}

tbody{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 325px;
    width: 100%;
    position: absolute;
}
