<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <div ng-app="app">
        <div class="row col-md-12">
            <div class="jumbotron text-center">
                <h1>Social-I</h1>
                <c:url value="/searchEvents" var="searchUrl" />
                <form class="form-horizontal text-center" id="searchForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="row col-md-3 col-md-offset-4 center-align">
                                <div class="input-group">
                                    <input type="text" id="keyword" name="keyword"
                                           placeholder="Search for Events" required
                                           class="text form-control"> 
                                        <span class="input-group-btn">
                                            <button class="btn btn-md btn-warning btn-block" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-8 center-align">
                <div ng-controller="HomeController" id="slides_control">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}">
                        </slide>
                    </carousel>
                </div>
            </div>
            <div class="col-md-4 center-align padding-20">
                <div class="row col-md-12 text-center">
                    <p style="font-size: 30px; font-weight: 700;">Sign Up</p>
                </div>
                <div class="row col-md-12 padding-20">
                    <div ng-controller="SignupController">
                        <form class="form-horizontal text-center" ng-submit="signup(user)" name="myform">
                            <fieldset>
                                <div class="row col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <input type="text" ng-model="userDetails.firstName" id="firstName" placeholder="First Name"
                                                   required class="text form-control margin">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="userDetails.lastName" id="lastName" placeholder="Last Name"
                                                   required class="text form-control margin">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': myform.username.$invalid}">
                                    <div class="col-md-12">
                                        <input type="text" ng-model="userLogin.username" id="username" placeholder="Username"
                                               required class="text form-control margin" ng-change="change()">
                                    </div>
                                </div>
                                <p>
                                    <span ng-show="invalidUsername === true" class="label label-danger  center-align text-center">
                                        Username already exists. Please choose another username.<br />
                                    </span>
                                </p>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="email" ng-model="userDetails.email" id="email" placeholder="Email"
                                               required class="text form-control margin">
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error': myform.password.$invalid}">
                                    <div class="col-md-12">
                                        <input type="password" ng-model="userLogin.password" id="password" placeholder="New Password"
                                               required class="text form-control margin">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" ng-model="userDetails.phone" id="phone" placeholder="Enter your 10 digit mobile number"
                                               class="text form-control margin">
                                    </div>
                                </div>

                                <div class="col-sm-offset-3 col-md-6 center-align">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="myForm.$invalid">
                                        Sign up
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
