<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Social-I</h1>
    </div>
    <div class="col-md-8" ng-controller="HomeController" id="slides_control">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
            </slide>
        </carousel>
    </div>
    <div class="col-md-4 padding-20">
        <div class="text-center">
            <p style="font-size: 30px; font-weight: 700;">Sign Up</p>
        </div>
        <div class="col-sm-11 padding-20">
            <div ng-controller="SignupController">
                <form class="form-horizontal text-center" ng-submit="signup(user)" name="myform" data-toggle="validator" role="form">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" ng-model="userDetails.firstName" id="firstName" placeholder="First Name"
                                       required class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" ng-model="userDetails.lastName" id="lastName" placeholder="Last Name"
                                       required class="form-control input-sm">
                            </div>
                        </div>


                        <div class="form-group" ng-class="{'has-error': myform.username.$invalid}">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" ng-model="userLogin.username" id="username" placeholder="Username"
                                       required class="form-control input-sm" ng-change="change()">
                            </div>
                        </div>
                        <p>
                            <span ng-show="invalidUsername === true" class="label label-danger  center-align text-center">
                                Username already exists. Please choose another username.<br />
                            </span>
                        </p>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" ng-model="userDetails.email" id="email" placeholder="Email"
                                       required class="form-control input-sm">
                            </div>

                        </div>

                        <div class="form-group" ng-class="{'has-error': myform.password.$invalid}">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" ng-model="userLogin.password" id="password" placeholder="Password"
                                       required class="form-control input-sm">
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" ng-model="userLogin.cnfPassword" id="password" placeholder="Confirm Password"
                                       required class="form-control input-sm">
                            </div>
                        </div>

                        <div class="form-group">
                            <span ng-show="confirmPasswordMsg === true" class="label label-danger">
                                Passwords don't match.<br />
                            </span>
                        </div>

                        <div class="form-group">
                            <div ng-password-strength="userLogin.password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-" ng-model-options="{ allowInvalid: true }"></div>

                            Current password strength is <strong>{{passStrength}}</strong>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                </span>
                                <input type="number" ng-model="userDetails.phone" id="phone" placeholder="Enter your 10 digit mobile number"
                                       class=" form-control input-sm">
                            </div>

                        </div>

                        <div class="col-sm-offset-3 col-md-6 center-align">
                            <button type="submit" class="btn btn-sm btn-primary btn-block" ng-disabled="myForm.$invalid">
                                Sign up
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
