<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Events</title>
    <style>
        #map {
            height: 300px;
        }

        .img {
            height: 110px;
            width: 170px;
        }

    </style>

</head>
<body>
<div ng-controller="EventsController" ng-init="loadUserEvents()">

    <div class="column col-md-2" id="filter">

        <select class="form-control" ng-model = "catFilter" ng-change="filterEvents('cat')">
            <option value="">Category</option>
            <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
        </select>
        <select class="form-control" ng-model = "datFilter" ng-change="filterEvents('date')">
            <option value="">Select Date</option>
            <option value="1">Today</option>
            <option value="2">Tomorrow</option>
            <option value="3">After a Week</option>
            <option value="4">After a month</option>
        </select>
        <select class="form-control">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
        </select>
    </div>
    <!-- place holder for map-->
    <div class="column">
        <div id="map" class="col-md-10"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search for Events" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="filter">Filter by</label>
                                            <select class="form-control">
                                                <option value="0" selected>All Snippets</option>
                                                <option value="1">Featured</option>
                                                <option value="2">Most popular</option>
                                                <option value="3">Top rated</option>
                                                <option value="4">Most commented</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Author</label>
                                            <input class="form-control" type="text" />
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Contains the words</label>
                                            <input class="form-control" type="text" />
                                        </div>
                                        <button type="submit" class="btn btn-primary" >
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="fetch()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="input-group col-md-12 column">
        <input type="text" ng-model="query"
               placeholder="Search for Events" required
               class="text form-control">
            <span class="input-group-btn">
                <button class="btn btn-md btn-warning btn-block" id="fetchbtn" ng-click="fetch()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
    </div>-->
    <div class="col-md-12 column">
        <input type="hidden" ng-model="latitude">
        <input type="hidden" ng-model="longitude">

        <div ng-if="pages.length > 1">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="" aria-label="Previous" ng-click="fetchNextPage(currentPage-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="num in pages">
                        <a href="" ng-click="fetchNextPage(num)">{{num}}</a></li>
                    <li>
                        <a href="" aria-label="Next" ng-click="fetchNextPage(currentPage+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <table class="table table-striped">
            <tr ng-repeat="event in events" id="{{event.id}}" class="eventRow">
                <div class="column col-md-2">
                    <td><img src="{{event.logo.url}}" class="img"></td>
                </div>
                <div class="column col-md-10">
                    <td>
                        <table>
                            <tr>
                                <td>Start Time: {{event.start.local}}</td>
                            </tr>
                            <tr>
                                <td>{{event.name.text}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-info" data-toggle="collapse"
                                            data-target="#{{$index + 1}}det">
                                        Details
                                    </button>
                                    <div id="{{$index + 1}}det" class="collapse">
                                        {{event.description.text}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="{{event.url}}" target="_blank">Check event</a></td>
                            </tr>
                        </table>
                    </td>
                </div>
            </tr>
        </table>
        <button id="showAll" ng-click="showall()">Show All</button>
        <div ng-if="pages.length > 1">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="" aria-label="Previous" ng-click="fetchNextPage(currentPage-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="num in pages">
                        <a href="" ng-click="fetchNextPage(num)">{{num}}</a></li>
                    <li>
                        <a href="" ng-click="fetchNextPage(currentPage+1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--<script src="map.js"></script>-->
</body>
</html>
