<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Events</title>
    <style>
        #map {
            height: 400px;
        }

        .angular-google-map-container {
            height: 400px;
        }
    </style>

</head>
<body>
    <div ng-controller="EventsController" ng-init="loadUserEvents()">

        <!-- place holder for map-->
        <div class="row">
            <div id="map" class="col-md-12"></div>
        </div>

        <div class="input-group col-md-12">
            <input type="text" ng-model="query"
                   placeholder="Search for Events" required
                   class="text form-control">
            <span class="input-group-btn">
                <button class="btn btn-md btn-warning btn-block" id="fetchbtn" ng-click="fetch()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <input type="hidden" ng-model="latitude">
        <input type="hidden" ng-model="longitude">

        <table class="table table-striped">
            <tr ng-repeat="event in data.events" id="{{event.id}}" class="eventRow">
                <td><img src="{{event.logo.url}}"></td>
                <td>
                    <table>
                        <tr><td>Start Time: {{event.start.local}}</td></tr>
                        <tr><td>{{event.name.text}}</td></tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="collapse"
                                        data-target="#{{$index + 1}}det">
                                    Details
                                </button>
                                <div id="{{$index + 1}}det" class="collapse">
                                    {{event.description.text}}
                                </div>
                            </td>
                        </tr>
                        <tr><td><a href="{{event.url}}">Check event</a></td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <button id="showAll" ng-click="showall()">Show All</button>
    </div>

    <!--<script src="map.js"></script>-->
</body>
</html>
